ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    cursor: pointer;
    text-decoration-color: black;
    }

nav { 
    top: 0;
    position: relative;
}
 
.footer {
    position: absolute;
    justify-items: end;
    bottom: 0;
    width: 100%;
    border: 1px solid lightgray;
    background-color: lightgray;
    font-size: 15px;

  }

li {
  display: block;
  text-decoration: none;
  color: black;
}

.a {
  float: left;
  padding: 8px;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  color: black;
}



.b {
  float: right;
  padding: 8px;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.c {
  float: left;
  padding: 8px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

main {
  width: 400px;
  margin: 0 auto;
}

.search {
  position: absolute;
  padding: auto;
}

.search-bar {
  text-align: center;
  height: 30px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  color: black;
  }

.image {
  height: 200px;
  width: 400px;

}

.button {
  text-decoration: none;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  font-size: 15px;
  color: black;
  border-radius: 5px;
  line-height: 10px;
}


.icon {
  height: 30px;
  width: 30px;
}

#sign-in {
    text-decoration: none !important;
    background-color: #4285f4; 
    border: 1px solid #4285f4;
    border-radius: 5px;
    color: white;
    padding: 0 12px;
    text-align: center;
    display: inline-block;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
    margin: auto;

}